@import '../../variables.scss';

.biographyContainer {
  height: 600px;
  background-color: $secondary-background;
}
.bioInfo {
  color: $text-color;
}
.introText {
  color: $text-color;
  font-size: 64px;
  height: 64px;
}